<!DOCTYPE html>
<html lang="en">

<head>

    <title>Document</title>
</head>

<body>
    <ol type="i">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ol>
    <ul type="square">
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
        <li>Item</li>
    </ul>


    <ol>
        <li>Home</li>
        <ul>
            <li>Home1.1</li>
            <li>Home1.2</li>
            <ol>
                <li>Home1.2.1</li>
                <li>Home1.2.2</li>
                <li>Home1.2.3</li>
            </ol>
            <li>Home1.3</li>
        </ul>
        <li>About</li>
        <li>Contact</li>
        <li>Services</li>
        <li>Project</li>

    </ol>
</body>

</html>