<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <ul>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
        <li>Item 1</li>
    </ul>

    <ol type="I">
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
        <li>List 1</li>
    </ol>

    <dl>
        <dt>HTML</dt>
        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis illum dolores. Aperiam modi nemo
            adipisci quam vitae dolorum, repellat consequuntur, voluptas expedita corrupti velit ut rerum suscipit
            optio. Non.</dd>
        <dt>CSS</dt>
        <dd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore facilis illum dolores. Aperiam modi nemo
            adipisci quam vitae dolorum, repellat consequuntur, voluptas expedita corrupti velit ut rerum suscipit
            optio. Non.</dd>
    </dl>


    <ul>
        <li>Home </li>
        <ol>
            <li>Home 1.1</li>
            <li>Home 1.2</li>
            <ul>
                <li>Home 1.2.1</li>
                <li>Home 1.2.3</li>
            </ul>
            <li>Home 1.3</li>
        </ol>

        <li>About</li>
        <li>Contact</li>
        <li>Services </li>
    </ul>
</body>

</html>