<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <tr>
            <td>
                <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam reprehenderit possimus quasi
                    quibusdam alias soluta.</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum quod itaque dolorum perferendis
                    consequatur. Fugit exercitationem qui doloribus asperiores quidem, iure tenetur, est laborum
                    possimus repellat, voluptatibus delectus aliquid sed?</p>
                <button>Click me</button>
            </td>

            <td>
                <img src="https://ganeshdutt100.github.io/Ganesh_Portfolio/newImgGanesh3Circle1.jpg" alt="" width="300"
                    height="300">
            </td>

        </tr>
    </table>
</body>

</html>