<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <!-- <input type="text" name="" value="Ganesh Dutt"> <br> <br> -->
        <input type="text" name="" placeholder="Enter your name "> <br> <br>
        <input type="text" name="" placeholder="Enter your Email" required autofocus> <br><br>
        <input type="text" name="" value="Ganesh Dutt" readonly> <br><br>

        <input type="text" name="" value="Ganesh Dutt" disabled> <br><br>

        <input type="text" name="" maxlength="5"> <br><br>

        <input type="number" name="" min="2" max="12"> <br><br>

        <input type="number" name="" step="2"> <br><br>

        <input type="submit">
    </form>
</body>

</html>