<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <form>
        <fieldset>
            <legend>Form</legend>

            <fieldset>
                <label>Enter your first name </label>
                <input type="text">
                <br> <br>
                <label>Enter your last name </label>
                <input type="text"> <br> <br>
            </fieldset>
            <br>
            <fieldset>

                <label>Enter your Email</label>
                <input type="email"> <br> <br>

                <label>Enter your Contact Number</label>
                <input type="number" min="3" max="10"> <br> <br>

                <label>Enter your Password</label>
                <input type="password"> <br> <br>
            </fieldset>
            <br>
            <fieldset>
                <label>Gender : </label>
                <input type="radio" name="Gender">Male
                <input type="radio" name="Gender">Female
                <input type="radio" name="Gender">others

                <br> <br>

                <input type="checkbox">HTML
                <input type="checkbox">CSS
                <input type="checkbox">Tailwind CSS
                <input type="checkbox">Bootstrap
                <input type="checkbox">javaScript
                <input type="checkbox">React
                <input type="checkbox">Github
                <input type="checkbox">Node.js
                <input type="checkbox">Express.js


                <br> <br>

                <input type="file"> <br> <br>
                <input type="color">

            </fieldset>



            <input type="submit">
        </fieldset>
    </form>
</body>

</html>