<html>

<head>
    <title>HTML</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet.</h1>
    <h2>Lorem ipsum dolor sit amet.</h2>
    <h3>Lorem ipsum dolor sit amet.</h3>
    <h4>Lorem ipsum dolor sit amet.</h4>
    <h5>Lorem ipsum dolor sit amet.</h5>
    <h6>Lorem ipsum dolor sit amet.</h6>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis laudantium tenetur, cupiditate nobis minima quo
        officia maiores tempore voluptatum ipsum, illo sequi totam labore expedita beatae aspernatur velit minus
        consectetur?
    </p>
    <article>
        <h1>Lorem ipsum dolor sit amet.</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, voluptatibus earum! Minima quis eligendi
            tempora libero iste? Possimus, doloribus similique expedita totam, eius provident reprehenderit sit porro
            repellendus tenetur mollitia?
        </p>
        <h3>Lorem ipsum dolor sit amet.</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, voluptatibus earum! Minima quis eligendi
            tempora libero iste? Possimus, doloribus similique expedita totam, eius provident reprehenderit sit porro
            repellendus tenetur mollitia?
        </p>
        <!-- <img> -->
    </article>



    


</body>

</html>