<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    //   let myPromise =  new Promise((resolve,reject)=>{
    //    let a = 4;
    //    if(a%2 == 0){
    //     resolve("Even")
    //    }
    //    else{
    //     reject("Odd")
    //    }
    //   })


    //   myPromise.then((value)=>{
    //     console.log(value)
    //   }).catch((err)=>{
    //     console.log(err);
        
    //   })

   let PromiseChain = new Promise((resolve,reject)=>{
     setTimeout(()=>{
        resolve(1)
     },3000)
    }).then((value)=>{
        console.log(value); //output  = 1
        return value +1;
    }).then((value)=>{
      console.log(value); //output  = 2
      return value +1
    }).then((value)=>{
      console.log(value); //output  = 3
    }).catch((err)=>{
        console.log(err);
        
    })
    </script>
</body>
</html>

<!-- Questions
1. Creating a Promise

Q: Write a simple Promise that resolves with the message "Hello, Promise!" after 2 seconds.

2. Consuming a Promise

Q: Create a Promise that resolves with "Data received" and then consume it using .then() to log the message.

3. Handling Errors

Q: Write a Promise that rejects with the error "Something went wrong" and handle it using .catch().

4. Chaining Promises

Q: Create a Promise that resolves with a number 5. In the .then() chain, multiply it by 2, then add 10, and finally log the result. -->