<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button>Click me</button>
    <script>
        // setTimeout(function,time, arg)
//         function greet(name){
//             console.log(`Hello ${name}`);            
//         }
//  setTimeout(greet,3000,"Ganesh")

//  setTimeout(()=>{
//  let a = "Ganesh Dutt"
//  console.log(`Hello : ${a}`);
 
//  },3000)


//   let nameValue  =  setTimeout(()=>{
//  let a = "Ganesh Dutt"
//  console.log(`Hello : ${a}`);
 
//  },3000)

//  clearTimeout(nameValue)




// setInterval(()=>{
//     let currentTime = new Date()
// console.log(currentTime.toLocaleTimeString());
// // document.writeln(currentTime.toLocaleTimeString());
// },1000)
// let storeTime = setInterval(()=>{
//     let currentTime = new Date()
// console.log(currentTime.toLocaleTimeString());
// // document.writeln(currentTime.toLocaleTimeString());
// },1000)

// clearInterval(storeTime)


 document.querySelector('button').addEventListener('click',()=>{
//    let popup = open("https://ganeshdutt.netlify.app")
//   setTimeout(()=>  popup.close(), 5000 )
print()
 })

// setTimeout(()=>{
//     close()
// },3000)
    </script>
</body>
</html>