<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
    //   let myPromise =  new Promise((resolve,reject)=>{
    //    let a = 4;
    //    if(a%2 == 0){
    //     resolve("Even")
    //    }
    //    else{
    //     reject("Odd")
    //    }
    //   })


    //   myPromise.then((value)=>{
    //     console.log(value)
    //   }).catch((err)=>{
    //     console.log(err);
        
    //   })

   let PromiseChain = new Promise((resolve,reject)=>{
     setTimeout(()=>{
        resolve(1)
     },3000)
    }).then((value)=>{
        console.log(value); //output  = 1
        return value +1;
    }).then((value)=>{
      console.log(value); //output  = 2
      return value +1
    }).then((value)=>{
      console.log(value); //output  = 3
    }).catch((err)=>{
        console.log(err);
        
    })
    </script>
</body>
</html>